*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile first */

/* regole header */

header{
    width: 100%;
    height:70px;
    padding:10px;
    text-align: center;
    background-color:white;
}

h1{
    color:#ff9614;
    font-size: 30px; 
    font-family: "Nerko One",cursive;
}

/* regole main contenuto principale */

body{
    background-color: #f6f5f3;
}


/* regole footer */

footer{
    width:100%;
    background-color: #7c69a4;
    color: white;
    text-align: center;
    line-height: 25px;
    padding: 30px 20px;
    /* DEBUG */
    /* height:80px; */
}

footer a{
    color: white;
    margin:10px;
    text-align: center;
}

 footer ul{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    
   
}






                 /* RESPONSIVE */

/* layout tablet */
@media screen and (min-width:768px) {

    /* regole header */

    h1{
        text-align: left;
        padding:0 10px;
    }
    
}




/* layout desktop */

@media screen and (min-width:992px) {
    
    .row{
        display: flex;
        justify-content: space-between;
    }

    .column{
        text-align: left;
    }
}